// ================================
// フォント関係の設定
// ================================

$font-gl: 'Oswald', sans-serif;
 
 
// ================================
// 色関係の設定
// ================================

$color-white: #fff;
$color-text: #fff;
$color-bg: #504237;