@use "../../global" as *;

.c-nav {
	position: relative;
	z-index: 999;
	padding: 5px 20px;

	@include mq(md) {
		display: none;
	}

	&__list {
		// display: noneここ？ navじゃないの？
		// @include mq(sm) {
		// 	display: none;
		// }
	}

	&__item {
		display: inline-block;
	}

	&__link {
		display: inline-block;
		position: relative;
		padding: 20px;
		&::after {
			content: '';
			position: absolute;
			bottom: 34px;
			left: 10%;
			-webkit-transform-origin: center;
			        transform-origin: center;
			-webkit-transform: scale(0, 1);
			        transform: scale(0, 1);
			width: 80%;
			height: 1px;
			background: $color-white;
			transition: 0.3s;
		}
		&:hover {
			&::after {
				-webkit-transform: scale(1, 1);
				        transform: scale(1, 1);
			}
		}
	}
}